.sidebar-h4 {
	margin-top: 14px;
	font-weight: normal;
	font-size: 18px;
	color: #8f8f8f;
	font-family: ui-sans-serif, -apple-system, system-ui, Segoe UI, Helvetica, Apple Color Emoji, Arial, sans-serif, Segoe UI Emoji, Segoe UI Symbol;
}

.sidebar-bg {
	background: #F9F9F9;
	box-shadow: 1px 0 0 0 #EDEDED;
}

	.sidebar-item {
		text-decoration: none;
		color: #111;
		margin: 0!important;
		padding: 0 12px;
		background: transparent;
		border-radius: 10px;
	}

	.sidebar-item:hover,
	.sidebar-item.active,
	.btn_click_active
	 {
		background: #EAEAEA;
	}

	.a-text {
		padding: 4px 0;
	}

	.sidebar-item {
		cursor: pointer;
	}

	.sidebar-item .sidebar-btn {
	  display: none;
	  padding: 0;
	}

	.sidebar-item .sidebar-btn:active {
		display: inline-block;
	}

	.sidebar-btn i {
		font-size: 20px;
	}

	.sidebar-btn:active {
		outline: none;
	}

	.sidebar-item:hover .sidebar-btn,
	.btn_click_active .sidebar-btn {
	  display: block;
	}

	.app-title {
		margin: 0;
		padding: 50px 0;
		padding-top: 26px;
	}

	.navigation-wrapper .next-btn,
	.navigation-wrapper .prev-btn {
		font-size: 40px;
	}

	#next_nav {
		text-align: right;
	}
	
	#prev_nav {
		text-align: left;
	}

	#show-hint {
		padding: 0;
		margin-bottom: 5px;
	}

	#show-hint i {
		font-size: 24px;
	}

	#word_visualizer:after {
	    content: "";
	    display: table;
	    clear: both;
	}
	#word_visualizer div {
		float: left;
		width: 14px;
		height: 4px;
		margin: 2px 2px 0 0;
		background: #EAEAEA;
	}

	#word_visualizer .word-error {
		background: #DC3545;
	}

	#word_visualizer .word-success {
		background: #198754;
	}

	#word_visualizer .word-current {
		background: #FFC107;
	}

	.dictionary-editor-modal {
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    height: 100%;
	    z-index: 2;
	    background: #fff;
	}

	#main_container {
	    display: flex;
	    flex-direction: column;
	    height: 100vh;
	}

	#dictionary_editor {
	    flex: 1;
	    overflow-y: auto;
	}

	#action_bar {
	    height: 63px;
	    display: flex;
	    justify-content: flex-end;
	    align-items: center;
	    padding: 0 12px;
	    border-top: 1px solid #DEE2E6;
	}

#create_headers_modal .modal-header .flex-grow-1 {
	flex-grow: 1;
	margin-right: 6px;
}

#create_dictionary_title {
	line-height: 31px;
	cursor: pointer;
}

#create_headers_modal .columns-list-title-input {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#columns_list .column-title {
	cursor: pointer;
}
